@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Ribeye+Marrow&display=swap');

html{
  scroll-behavior: smooth;
  width: fit-content;
}


.playfair-display-playfair {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400 ;
  font-style: normal;
} 


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;

}

body{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #fdedd3;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 10px;
    gap: 2vw;
}


.card_present{
    border: 2px solid #352a24;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    padding: 1vh;
    gap: 1vw;
    margin-bottom: 5vh;
    box-shadow: 0px 0px 10px 5px rgb(255, 106, 106);


}

.img_present,
.img_passe{
    border-radius: 10px;
    
}

.img_passe{
    width: 45vw;
    filter: grayscale(100%);
}

.titre_present,
.titre_passe,
.date,
.lieu,
.titre_evenement{
    color: #352a24;
}

.container_info_right{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.container_info_top{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.container_lien_bottom{
    display: flex;
    gap: 3vw;

}

.lien_facebook_main,
.lien_concours_main{
    border: 2px solid #352a24;
    background-color: #352a24;
    border-radius: 10px;
    color: #fdedd3;
    padding: 8px;
    font-size: 3vw;
    display: inline-block;
}

.container_info_between{
    display: flex;
    flex-direction: row;
    gap: 10vw;
    font-size: xx-large;
}

.container_titre{
    font-size: xxx-large;
}

.titre_evenement{
    font-weight: bolder;
}

.lieu,
.date{
    font-weight: lighter;
}

.titre_present,
.titre_passe{
    font-size: 5vw;
    text-decoration-line: underline;
}

.card_passe{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid #352a24;
    width: 100%;
    padding: 10px;
    align-items: center;
    gap: 2vh;
    justify-content: space-around;

}


.container_passe_bottom{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cards{
    display: flex;
    flex-direction: row;
    gap: 3vw;

}

.lien_passe{
    text-decoration: none;
    color: #fdedd3;
    background-color: #352a24;
    border: 2px solid #352a24;
    border-radius: 10px;
    padding: 10px;
    font-size: xx-large;
}


/* 
////////////
////////////
Transition/ Annimation
////////////
////////////
*/

.lien_passe:hover,
.lien_concours_main:hover,
.lien_facebook_main:hover{
    zoom:105%;
    box-shadow: 0px 3px 10px 3px #352a24;
    border: #fdedd3;
    color:#352a24;
    background-color: #fdedd3;
 }

.card_passe:hover{
    .img_passe{
        filter: grayscale(0%);
    }
    box-shadow: 0px 0px 10px 5px rgb(104, 104, 255);
}


/* 
////////////
////////////
MEDIA QUERES
////////////
////////////
 */



@media only screen and (max-width: 768px){
    .cards{
        flex-direction: column;
        width: 100%;
    }

    .img_present{
        width: 55vw;
        border-radius: 20px;
        height: 57vh;
    }


    .titre_evenement{
        font-size: 7vw;
    }

    .lien_passe{
        font-size: 10vw;
    }

    .titre_passe,
    .titre_present{
        font-size: 9vw;
    }

    .lien_concours_main,
    .lien_facebook_main{
        font-size: 5vw;
    }

    .card_present,
    .card_passe{
        border: 2px solid black;
        flex-direction: column;
        width: 100%;

    }

    .img_passe,
    .img_present{
        width: 100%;
        height: 68vh;
    }

    .container_info_right{
        align-items: center;
    }

    .container_info_between{
        justify-content: center;
    }
}

@media only screen and (min-width: 1200px){
    html{
        width: auto;
    }
}

@media only screen and (min-width: 1600px){

    .card_present{
        width: 100%;
    }

    .img_present{
        width: 50vw;
    }

    .titre_evenement{
        font-size: 5vw;
    }

    .container_info_between{
        font-size: 3vw;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .lien_concours_main,
    .lien_facebook_main{
        font-size: 6vh;
    }

    .container_info_right{
        width: 100%;
    }

    .lien_passe{
        font-size: 4vw;
    }


}
