
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

footer {
  margin-top: 10px;
  border-top: 2px solid black;
  width: 100%;
  position: static;
  height: 10vh;
}

.div_haut_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20px 10px;
  font-weight: 300;
  font-size: xx-large;
}

.div_bas_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 10px;
  font-weight: 800;
  font-size: xx-large;
  align-items: center;
  height: 8vh;
}

.list_reseaux_footer,
.list_contact_footer{
  list-style: none;
}

.lien_instagram_footer,
.lien_facebook_footer,
.lien_tiktok_footer,
.lien_mentions_legals {
  text-decoration: none;
  color: black;
}

.container_left,
.container_right{
  margin: 15px;
}

.logo_createurs_footer,
.logo_cosplay_footer{
  height: 120px;
  box-sizing: border-box;
  margin-top: 40px;

}

.logo_general_footer{
  height: 130px;
  box-sizing: border-box;
  margin-top: 30px; 
}

/* 
////////////
////////////
MEDIA QUERES
////////////
////////////
 */

@media only screen and (max-width: 768px){
    .logo_createurs_footer,
    .logo_cosplay_footer,
    .logo_general_footer{
      display:none;
    }
}

@media only screen and (min-width: 1300px){
    html{
        width: auto;
    }

}

@media only screen and (min-width: 1600px){
    .logo_createurs_footer,
    .logo_cosplay_footer,
    .logo_general_footer{
      height: 250px;
      box-sizing: border-box;
    } 

    .logo_createurs_footer,
    .logo_cosplay_footer{
      height: 250px;
      box-sizing: border-box;
    }

    .list_contact_footer,
    .list_reseaux_footer{
      font-size: 4vh;
    }

    .lien_mentions_legals,
    .annee{
      font-size: 3vh;
    }

    footer{
      border-top: 4px solid black;
      margin-top: 20px;
    }

}

