* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

header {
  width: 100%;
  border-bottom: 2px solid black;
  padding: 10px;

}

nav {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  font-size: x-large;
}

.container_titre_nav{
  display: flex;
  justify-content: center;
  font-size: xxx-large;
  font-weight: 800;
}

.lien_left_nav,
.lien_right_nav {
  border: 2px solid black;
  background-color: black;
  color: whitesmoke;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px;
  font-size: xx-large;
  font-weight: 800;
}

.logo_nav {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.reseaux_nav {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
  gap: 10px;
}

/* 
////////////
////////////
MEDIA QUERES
////////////
////////////
 */


@media only screen and (max-width: 768px){
    .container_img_between{
        flex-direction: column;
        width: 90%;
    }
    .reseaux_nav{
      justify-content: center;
      gap: 40vw;
    }

    header{
      display: flex;
      flex-direction: column;
      align-items: center;
    }

     nav{
      gap: 40vw;
    }

}

@media only screen and (min-width: 1200px){
    html{
        width: auto;
    }

}

@media only screen and (min-width: 1600px){
    .lien_left_nav,
    .lien_right_nav{
      font-size: 5vh;
      border-radius: 10px;
    }

    .img_logo_nav{
      width: 50vw;
    }

    .img_lien_nav{
      width: 10vw;
    }

    .titre_nav{
      font-size: 15vw;
    }

    
    header{
      border-bottom: 4px solid black;
      margin-bottom: 20px;
    }

}

