*{
padding: 0px;
margin: 0px;
box-sizing: border-box;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vw 5vw;
    padding: 10px;
    gap: 2vw;
}

.cards{
    display: flex;
    flex-direction: row;
    gap: 5vw;
}

.card{
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
    width: 40vw;
}

.div_right{
    text-align: center;
    display:flex;
    width: 22vw;
    flex-direction: column;
    justify-content: space-around;
}

.titre_card{
    font-size: xxx-large;
}

.sous_titre_card{
    font-size: xx-large;
    font-weight: lighter;

}

.list_reseaux_card{
    
    list-style: none;
}

.lien_reseaux_card{
    color: black;
    text-decoration: none;
    font-size: x-large;
}

.img_card{
    border-radius: 15px;
}

@media only screen and (max-width: 768px){
    .cards{
        flex-direction: column;
    }
}