@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Ribeye+Marrow&display=swap');

html{
  scroll-behavior: smooth;
  width: fit-content;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;

}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#fdedd3;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 10px;
}

.article_top_main,
.article_bottom_main{
  border: 2px solid #352a24;
  border-radius: 20px;
  padding:10px;
  margin: 10px;
  font-size: xx-large;
}

.container_img_between{
  display: flex;
  gap: 10vw;
  justify-content: center;
  margin: 3vw;
}

.titre_top_main,
.titre_bottom_main{
  text-decoration-line: underline;
  padding: 5px 17vw 5px 3vw;
}

.lien_bottom_main{
  border: 2px solid #352a24;
  background-color: #352a24;
  color: #fdedd3;
  text-decoration: none;
  padding: 5px;
  margin: 10px 30px;
  border-radius: 10px;
  display: inline-block;
  font-size: xx-large;
  font-weight: 800;
  text-align: center;
}


.img_bilan{
    border-radius: 25px;
  }

.paragraphe_top_main,
.paragraphe_bottom_main{
  margin: 10px 0px;
  padding: 5px 17vw 5px 3vw;
}

.container_lien{
  margin-left: 10px;
}

/* 
////////////
////////////
Transition/ Annimation
////////////
////////////
*/

.lien_bottom_main:hover{
    zoom:105%;
    box-shadow: 0px 3px 10px 3px #352a24;
    border: #fdedd3;
    color:#352a24;
    background-color: #fdedd3;
}

.article_bottom_main:hover,
.article_top_main:hover{
  box-shadow: 0px 0px 10px 5px rgb(104, 104, 255);
}

.img_bilan:hover{
  box-shadow: 0px 0px 10px 5px rgb(255, 106, 106);

}
/* 
////////////
////////////
MEDIA QUERES
////////////
////////////
 */


@media only screen and (max-width: 768px){
    .container_img_between{
        flex-direction: column;
        width: 90%;
        align-items: center;
    }
    .container_lien{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }

    .img_bilan{
      width: 80vw;
      border-radius: 15px;
    }
}

@media only screen and (min-width: 1200px){
    html{
        width: auto;
    }
}


@media only screen and (min-width: 1600px){
  .paragraphe_bottom_main,
  .paragraphe_top_main{
    font-size: 3vw;
  }

  .container_img_between{
    gap: 5vw;
  }

  .container_lien{
    display:flex;
    justify-content: flex-end;
  }

  .lien_bottom_main{
    font-size: 5vw;
    border-radius: 15px;
  }

  .img_bilan{
    width: 43vw;
    border-radius: 30px;
  }

  .titre_top_main,
  .titre_bottom_main{
    font-size: 4vw;
  }
  .article_bottom_main,
  .article_top_main{
    border: 4px solid black;
    border-radius: 20px;
  }


}
